input {
    margin: 10px;
}

input.text {
    width: 20vw;
    min-height: 5vh;
    font-size: 20px;
    margin: 20px 0;
}

button.addTask {
    color: #5CB3FF;
    margin: 20px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
}

@media (max-width: 640px) and (orientation: landscape) {
    input.text {
        width: 40vw;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    input.text {
        width: 70vw;
        display: block;
        margin: 20px auto 20px auto;
    }
}